.login-form {
    max-width: min(25rem, 90vw);
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.form-control label {
    margin: 2rem 0 .25rem;
    width: min-content;
    display: block;
}

.form-control input {
    margin: 0;
    display: block;
    justify-items: stretch;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: .5rem 1rem;
    outline: none;
    letter-spacing: .1rem;
    font-size: inherit;
    color: dimgrey;
}

.form-control input::placeholder {
    opacity: 0.6;
}

.form-control input:focus {
    border-color: #0090de;
}

.form-control input:disabled {
    color: gray;
    border-color: currentColor;
    background-color: rgba(197, 197, 197, 0.25);
}

.form-control input.invalid {
    border-color: red;
}

.input-error-message {
    color: red;
    bottom: 0;
    margin: 0;
    margin-top: 0.3rem;
    font-size: 0.9rem;
    animation: input-error-message-enter 100ms cubic-bezier(.5,0,0,.5) forwards;
    opacity: 0;
}

@keyframes input-error-message-enter {
    0% {
        transform: translateY(-100%);
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}

.password-input-animate {
    animation: password-change 500ms cubic-bezier(.5,0,0,.5);
}

@keyframes password-change {
    0% {
        letter-spacing: .1rem;
        padding-left: 1rem;
    }
    50% {
        letter-spacing: .2rem;
        padding-left: 1.2rem;
    }
    100% {
        letter-spacing: .1rem;
        padding-left: 1rem;
    }
}

.submit-btn {
    margin-block: 3rem 1rem;
    align-self: flex-end;
    color: #fff;
    background-color: var(--secondary-color);
    cursor: pointer;
    border: none;
    padding: .5rem 1rem;
    display: grid;
    place-items: center;
}

.submit-btn:hover {
    background-color: var(--secondary-color-lighter);
}

.submit-btn:not(.loading):disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.submit-btn.loading .text {
    grid-column: 1;
    grid-row: 1;
    visibility: hidden;
}

.submit-btn.loading .loading-spinner {
    grid-column: 1;
    grid-row: 1;
    width: 0.75rem;
    height: 0.75rem;
    opacity: 0.8;
    border: 0.18rem solid currentColor;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: spin-animation 0.7s linear infinite;
}

@keyframes spin-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}