
.todo-mvc-todos-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.todo-mvc-todos-list li {
	position: relative;
	font-size: 1.5rem;
	border-bottom: 1px solid #ededed;
}

.todo-mvc-todos-list li:last-child {
	border-bottom: none;
}

.todo-mvc-todos-list li.editing {
	border-bottom: none;
	padding: 0;
}

.todo-mvc-todos-list li.editing .edit {
	display: block;
	width: 100%;
	padding: .96rem;
	padding-left: 3.45rem;
}

.todo-mvc-todos-list li.editing .view {
	display: none;
}

.todo-mvc-todos-list li .toggle {
	text-align: center;
	width: 3rem;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none;
	-webkit-appearance: none;
	appearance: none;
}

.todo-mvc-todos-list li .toggle:focus {
    border: 1px solid var(--primary-color);
    border-radius: 50rem;
    margin-bottom: 1rem;
    top: 4.15rem;
    left: 0.22rem;
    width: 2.5rem;
    height: 2.5rem;
}

.todo-mvc-todos-list li .toggle + .todo-text {
	/*
		Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
		IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
	*/
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 2.5rem;
}

.todo-mvc-todos-list li .toggle:checked + .todo-text {
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
	background-size: 2.5rem;
}

.todo-mvc-todos-list li .todo-text {
	word-break: break-all;
	padding: 1rem 1rem 1rem 3.5rem;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
	text-align: left;
	width: 100%;
}

.todo-mvc-todos-list li .todo-text:focus {
	outline: 1px solid var(--primary-color);
}

.todo-mvc-todos-list li.completed .todo-text {
	color: #d9d9d9;
	text-decoration: line-through;
}

.todo-mvc-todos-list li .destroy {
	opacity: 0;
	position: absolute;
	top: .5rem;
	right: 1rem;
	bottom: 0;
	font-size: 2rem;
	color: #cc9a9a;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
	border: 1px solid transparent;
	padding: 0 0.5rem;
	cursor: pointer;
}

.todo-mvc-todos-list li .destroy:focus {
	opacity: 1;
	border-color: var(--primary-color);
}

.todo-mvc-todos-list li .destroy:hover {
	color: #af5b5e;
}

.todo-mvc-todos-list li .destroy:after {
	content: 'X';
}

.todo-mvc-todos-list li:hover .destroy {
	opacity: 1;
}

.todo-mvc-todos-list li .edit {
	display: none;
}

.todo-mvc-todos-list li.editing:last-child {
	margin-bottom: -1px;
}

.hidden-label {
	font-size: 0px;
	position: absolute;
	top: 0.5rem;
	left: 0.9rem;
}