.container {
	margin-top: 45px;
	width: 65vw;
}

.cloud-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 18rem));
	justify-items: center;
	justify-content: center;
	grid-gap: 1rem;
}

.spinner-container {
	display: flex;
	justify-content: center;
}

.spinner {
	width: 30px;
	height: 30px;
	border: 5px solid #333;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
