
.todo-mvc-toggle-all {
	width: 1px;
	height: 1px;
	border: none;
	opacity: 0;
	position: absolute;
	right: 100%;
	bottom: 100%;
}

.todo-mvc-toggle-all + label {
	font-size: 0px;
    position: absolute;
    top: 0.9rem;
    left: 0.2rem;
}

.todo-mvc-toggle-all + label:before {
    content: ">";
	font-size: 2rem;
	color: #e6e6e6;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 2px;
	display: flex;
	transform: scale(0.9, 0.6) rotate(90deg);
	height: 1.8rem;
	padding: 0.1rem 0.45rem 0.1rem 0.55rem;
	font-weight: bolder;
}

.todo-mvc-toggle-all:focus + label:before {
	border-color: var(--primary-color);
}

.todo-mvc-toggle-all:checked + label:before {
	color: #737373;
}
