.todo-mvc {
	line-height: 1.4rem;
	background: #f5f5f5;
	color: #4d4d4d;
	min-width: 30rem;
	max-width: 55rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
    background: #fff;
	margin: auto;
    margin-bottom: 5rem;
	position: relative;
	box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, 0.2),
	            0 .25rem .5rem 0 rgba(0, 0, 0, 0.1);
}

.todo-mvc button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.todo-mvc :focus {
	outline: 0;
}

.todo-mvc .hidden {
	display: none;
}

.todo-mvc input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.todo-mvc input::-moz-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.todo-mvc input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.todo-mvc-wrapper h2 {
	line-height: normal;
	margin: 1rem;
	font-size: 2.5rem;
	font-weight: 100;
	text-align: center;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

.todo-mvc .new-todo,
.todo-mvc .edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 1.5rem;
	font-family: inherit;
	font-weight: inherit;
	border: 0;
	color: inherit;
	padding: .6rem;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.todo-mvc .new-todo.invalid,
.todo-mvc .edit.invalid {
	color: #e5555555;
}

.todo-mvc .new-todo {
    padding: 1rem 1rem 1rem 3.5rem;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.todo-mvc .main {
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
}

.todo-mvc .toggle-all {
	width: 1px;
	height: 1px;
	border: none;
	opacity: 0;
	position: absolute;
	right: 100%;
	bottom: 100%;
}

.todo-mvc .toggle-all + label {
	font-size: 0px;
    position: absolute;
    top: -3.4rem;
    left: 0.9rem;
}

.todo-mvc .toggle-all + label:before {
    content: "\2304";
	font-size: 2.5rem;
	color: #e6e6e6;
	cursor: pointer;
}

.todo-mvc .toggle-all:checked + label:before {
	color: #737373;
}

.todo-mvc .todo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.todo-mvc .todo-list li {
	position: relative;
	font-size: 1.5rem;
	border-bottom: 1px solid #ededed;
}

.todo-mvc .todo-list li:last-child {
	border-bottom: none;
}

.todo-mvc .todo-list li.editing {
	border-bottom: none;
	padding: 0;
}

.todo-mvc .todo-list li.editing .edit {
	display: block;
	width: 100%;
	padding: .96rem;
	padding-left: 3.45rem;
}

.todo-mvc .todo-list li.editing .view {
	display: none;
}

.todo-mvc .todo-list li .toggle {
	text-align: center;
	width: 3rem;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none;
	-webkit-appearance: none;
	appearance: none;
}

.todo-mvc .todo-list li .toggle {
	opacity: 0;
}

.todo-mvc .todo-list li .toggle + label {
	/*
		Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
		IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
	*/
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 2.5rem;
}

.todo-mvc .todo-list li .toggle:checked + label {
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
	background-size: 2.5rem;
}

.todo-mvc .todo-list li label {
	word-break: break-all;
	padding: 1rem 1rem 1rem 3.5rem;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

.todo-mvc .todo-list li.completed label {
	color: #d9d9d9;
	text-decoration: line-through;
}

.todo-mvc .todo-list li .destroy {
	display: none;
	position: absolute;
	top: .5rem;
	right: 1rem;
	bottom: 0;
	font-size: 2rem;
	color: #cc9a9a;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
}

.todo-mvc .todo-list li .destroy:hover {
	color: #af5b5e;
}

.todo-mvc .todo-list li .destroy:after {
	content: 'X';
}

.todo-mvc .todo-list li:hover .destroy {
	display: block;
}

.todo-mvc .todo-list li .edit {
	display: none;
}

.todo-mvc .todo-list li.editing:last-child {
	margin-bottom: -1px;
}

.todo-mvc .footer {
	color: #777;
	padding: .7rem 1rem;
	height: 1.5rem;
	text-align: center;
	border-top: 1px solid #e6e6e6;
}

.todo-mvc .footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 1rem;
	overflow: hidden;
	box-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.2),
	            0 0.5rem 0 -0.1875rem #f6f6f6,
	            0 0.5625rem 0.0625rem -0.1875rem rgba(0, 0, 0, 0.2),
	            0 1rem 0 -0.375rem #f6f6f6,
	            0 1.0625rem 0.0625rem -0.375rem rgba(0, 0, 0, 0.2);
}

.todo-mvc .todo-count {
	float: left;
	text-align: left;
}

.todo-mvc .todo-count strong {
	font-weight: 300;
}

.todo-mvc .filters {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	right: 0;
	left: 0;
}

.todo-mvc .filters li {
	display: inline;
}

.todo-mvc .filters li button {
	color: inherit;
	margin: 0 .3rem;
	padding: 0 .5rem;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
}

.todo-mvc .filters li button:hover {
	border-color: rgba(175, 47, 47, 0.1);
}

.todo-mvc .filters li button.selected {
	border-color: rgba(175, 47, 47, 0.2);
}

.todo-mvc .clear-completed {
	float: right;
	position: relative;
	line-height: inherit;
	text-decoration: none;
	cursor: pointer;
}

.todo-mvc .clear-completed:hover {
	text-decoration: underline;
}
