.todo-mvc-wrapper {
	padding: 1rem;
}

.todo-mvc {
	line-height: 1.4rem;
	background: #f5f5f5;
	color: #4d4d4d;
	width: 100vw;
	max-width: min(55rem, calc(90vw - 2rem));
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
    background: #fff;
	margin: auto;
	position: relative;
	box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, 0.2),
	            0 .25rem .5rem 0 rgba(0, 0, 0, 0.1);
}

.todo-mvc button {
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.todo-mvc :focus {
	outline: 0;
}

.todo-mvc .hidden {
	display: none;
}

.todo-mvc input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.todo-mvc input::-moz-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.todo-mvc input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.todo-mvc .new-todo,
.todo-mvc .edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 1.5rem;
	font-family: inherit;
	font-weight: inherit;
	border: 0;
	color: inherit;
	padding: .6rem;
	border: 1px solid #999;
	-webkit-appearance: none; /* iPhone fix to make the box-shadow work */
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.todo-mvc .invalid {
	color: #e5555555;
}

.todo-mvc .main {
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
}
