.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: .5rem;
}

.app-header button {
    margin-left: .5rem;
}

.app-nav > ul {
    margin: 0;
    padding: .5rem 1rem;
    background-color: #fff;
    color: #0051c3;
    border-bottom: 1px solid currentColor;
    list-style: none;
    display: flex;
    align-items: center;
}

.app-nav > ul > li {
    margin: .5rem;
    height: min-content;
    flex: 1;
    text-align: center;
}

.app-nav > ul a {
    color: inherit;
    text-decoration: none;
}

.app-nav > ul a:hover {
    text-decoration: underline;
}

.layout {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.app-main {
    flex: 1;
    padding: 3rem 1rem 2rem;
}

.app-header, .app-footer {
    background-color: #0051c3;
    color: white;
}

.app-footer > p {
    margin: .5rem;
    text-align: end;
}

.app-header .btn {
    color: #fff;
    background-color: #f6821f;
    cursor: pointer;
    border: none;
    padding: .5rem 1rem;
}

.app-header .btn:hover {
    background-color: #d86300;
}

.active {
    font-weight: bolder;
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

.app-title {
    color: white;
}

.app-page-heading {
    margin-bottom: 1rem;
}