.unimplemented-demo-page {
    display: grid;
    justify-items: center;
    color: gray;
    flex: 1;
    margin: 1rem;
    text-align: center;
    grid-template-rows: min-content;
}

.unimplemented-demo-page figure {
    margin: 0;
    margin-top: 5rem;
    height: 5rem;
    opacity: 0.5;
    transform: scale(2.5);
}

.unimplemented-demo-page figure > svg {
    animation: swing .5s cubic-bezier(0, 0.4, 1, 0.6) .1s;
}

@keyframes swing {
    20% {
      transform: rotate(10deg);
    }
    40% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
  }

.unimplemented-demo-page .text-wrapper {
    margin-top: 2rem;
}

.unimplemented-demo-page p {
    max-width: 70ch;
    align-self: center;
}

.unimplemented-demo-page button {
    color: #fff;
    background-color: #f6821f;
    cursor: pointer;
    border: none;
    padding: .25rem .5rem;
}

.unimplemented-demo-page button:hover {
    background-color: #d86300;
}
