.label {
	font-size: 14px;
	font-weight: 400;
	margin-right: 0.5rem;
}

.slider-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #e1e1e1;
	color: #494949;
	border-bottom: 1px solid #bcbcbc;
	padding: 5px;
}

.slider-content {
	width: max(40%, 400px);
	display: flex;
	align-items: center;
}

.slider {
	flex: 1;
	align-self: stretch;
	opacity: 0.5;
	accent-color: #8a8a8a;
	margin-right: 0.5rem;
}

.seam-options-container {
	.label {
		margin-left: 0.5rem;
	}

	input {
		margin-right: 0.5rem;
	}
}
