.root {
    margin: 2rem;
}

.login-form {
    max-width: 50ch;
    margin: auto;
    margin-block: 3rem;
    display: flex;
    flex-direction: column;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.form-control label {
    margin: 2rem 0 .25rem;
    width: min-content;
    display: block;
}

.form-control input {
    margin: 0;
    display: block;
    justify-items: stretch;
    border: 1px solid #0051c3;
    border-radius: 5px;
    padding: .5rem 1rem;
    outline: none;
    letter-spacing: .1rem;
}

.form-control input:focus {
    border-color: #0090de;
}

.form-control input:disabled {
    color: gray;
    border-color: currentColor;
    background-color: rgba(197, 197, 197, 0.25);
}

.password-input-animate {
    animation: password-change 500ms cubic-bezier(.5,0,0,.5);
}

@keyframes password-change {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.015);
    }
    100% {
        transform: scale(1);
    }
}

.submit-btn {
    margin-top: 3rem;
    align-self: flex-end;
    color: #fff;
    background-color: #f6821f;
    cursor: pointer;
    border: none;
    padding: .5rem 1rem;
}

.submit-btn:hover {
    background-color: #d86300;
}