.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.5rem;
}

.app-header a {
    text-decoration: none;
}

.app-header button {
    margin-left: .5rem;
}

.app-nav > ul {
    margin: 0;
    padding: .5rem 1rem;
    background-color: #fff;
    color: var(--primary-color);
    border-bottom: 1px solid currentColor;
    list-style: none;
    display: flex;
    align-items: center;
}

.app-nav > ul > li {
    margin: .5rem;
    height: min-content;
    flex: 1;
    text-align: center;
}

.app-nav > ul a {
    color: inherit;
    text-decoration: none;
}

.app-nav > ul a:hover {
    text-decoration: underline;
}

@media (max-width: 35rem) {
    .app-nav > ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    .app-nav > ul > li > a {
        padding: 0.5rem;
    }
}

.layout {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.app-main {
    flex: 1;
    padding: 3rem 1rem;
}

@media (max-width: 25rem) {
    .app-main {
        padding-inline: 0;
    }
}

.app-header, .app-footer {
    background-color: var(--primary-color);
    color: #fff;
}

.app-footer {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.app-footer a {
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
    display: inline-flex;
    align-items: center;
}

.app-footer a:hover {
    opacity: 0.7;
}

.app-footer .links-and-copyright a {
    margin-right: 0.7rem;
}

.app-footer .links-and-copyright svg {
    height: auto;
    width: 1.5rem;
}

.app-footer .links-and-copyright .gh-link svg {
    width: 1rem;
}

.app-footer .external-link svg {
    fill: #fff;
    height: 1rem;
    width: 1rem;
    margin-left: 0.2ch;
}

.links-and-copyright {
   display: flex;
}

.links-and-copyright {
    display: flex;
    min-width: max-content;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
 }

@media (max-width: 52rem) {
     .links-and-copyright {
         flex-direction: column;
         gap: 0.1rem;
      }
}

.link-icons {
    display: flex;
    justify-content: center;
}


.app-header .btn {
    color: #fff;
    background-color: var(--secondary-color);
    cursor: pointer;
    border: none;
    padding: .5rem 1rem;
}

.app-header .user-section {
    display: flex;
    align-items: center;
}

.app-header .user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff3d;
    border-radius: 5px;
    padding: 0 .5rem;
    padding-left: 0.25rem;
    gap: 0.5rem;
    margin-right: 1rem;
}

.app-header .account-icon {
    display: inline-grid;
    place-items: center;
}

.app-header .account-icon svg {
    display: inline;
    fill: #ffffff3d;
    height: 1.8rem;
    width: 1.8rem;
}

.app-header .btn:hover {
    background-color: var(--secondary-color-lighter);
}

.active {
    font-weight: bolder;
    transition: font-weight 0.1s;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

.app-title {
    color: white;
    font-size: 2rem;
}

.app-page-heading {
    margin-bottom: 1rem;
}

@media (max-width: 35rem) {
    .app-header {
        flex-direction: column;
        gap: 0.5rem;
    }

    .app-header .user-section {
        margin-bottom: 1.7rem;
    }
}
