
.todo-lists-carousel {
    --primary-list-card-scale: 1;
    --secondary-list-card-scale: 0.7;
    --tertiary-list-card-scale: 0.3;
    --default-list-card-box-shadow: -3px 3px 5px 0px #4d4d4d47, 0px 0px 20px 0px #4d4d4d0d;
}

.todo-list-card {
    animation-duration: 0.13s;
    animation-timing-function: cubic-bezier(.55,.51,.47,.99);;
}

@media (max-width: 52rem) {
    .todo-lists-carousel.animating-next .selected-list-wrapper {
        --animation-translate: -3rem;
        animation-name: simple-move-selected-list;
    }
    .todo-lists-carousel.animating-previous .selected-list-wrapper {
        --animation-translate: 3rem;
        animation-name: simple-move-selected-list;
    }
    @keyframes simple-move-selected-list {
        50%{
            opacity: 0;
            transform: translateX(var(--animation-translate));
        }
        51%{
            opacity: 0;
            transform: translateX(- var(--animation-translate));
        }
        100%{
            color: transparent;
            opacity: 1;
            transform: translateX(0);
        }
    }
}

@media (min-width: 52rem) {
    .todo-lists-carousel.animating-next .previous-list {
        animation-name: move-previous-list-left;
    }
    .todo-lists-carousel.animating-next .selected-list-wrapper {
        animation-name: move-selected-list-left;
    }
    .todo-lists-carousel.animating-next .next-list {
        animation-name: move-next-list-left;
    }
    .todo-lists-carousel.animating-next .next-next-list {
        animation-name: move-next-next-list-left;
    }
    @keyframes move-previous-list-left {
        to {
            transform: scale(var(--tertiary-list-card-scale)) translateX(-3rem);
            opacity: 0;
        }
    }

    @keyframes move-selected-list-left {
        to {
            transform: scale(var(--secondary-list-card-scale)) translateX(-17rem);
        }
    }

    @keyframes move-next-list-left {
        70%{
            box-shadow: var(--default-list-card-box-shadow);
        }
        100% {
            opacity: 1;
            z-index: 2;
            transform: scale(var(--primary-list-card-scale)) translate(-12rem);
            box-shadow: var(--default-list-card-box-shadow);
        }
    }
    @keyframes move-next-next-list-left {
        100% {
            z-index: 1;
            transform: scale(var(--secondary-list-card-scale)) translateX(-8.5rem);
            box-shadow: var(--default-list-card-box-shadow);
            opacity: 1;
        }
    }

    .todo-lists-carousel.animating-previous .previous-previous-list {
        animation-name: move-previous-previous-list-right;
    }
    .todo-lists-carousel.animating-previous .previous-list {
        animation-name: move-previous-list-right;
    }
    .todo-lists-carousel.animating-previous .selected-list-wrapper {
        animation-name: move-selected-list-right;
    }
    .todo-lists-carousel.animating-previous .next-list {
        animation-name: move-next-list-right;
    }
    @keyframes move-previous-previous-list-right {
        78% {
            z-index: 1;
        }
        100% {
            padding-left: 0;
            z-index: 1;
            opacity: 1;
            transform: scale(var(--secondary-list-card-scale)) translateX(8.6rem);
        }
    }
    @keyframes move-previous-list-right {
        33% {
            z-index: 1;
        }
        34%{
            z-index: 2;
        }
        100% {
            z-index: 2;
            opacity: 1;
            transform: scale(var(--primary-list-card-scale)) translateX(12rem);
        }
    }
    @keyframes move-selected-list-right {
        to {
            z-index: 1;
            transform: scale(var(--secondary-list-card-scale)) translateX(17rem);
        }
    }
    @keyframes move-next-list-right {
        50% {
            z-index: 0;
        }
        to {
            z-index: 0;
            transform: scale(var(--tertiary-list-card-scale)) translateX(3rem);
            opacity: 0;
        }
    }
    @keyframes move-next-next-list-right {
        from, to {
            opacity: 0;
        }
    }
}
