.todo-lists-carousel {
    display: flex;
    width: max-content;
    margin: auto;
    max-width: 100%;
    position: relative;
}

.todo-lists-carousel :global(.todo-list-card) {
    font-size: 2rem;
    display: grid;
    place-items: center;
    color: #4d4d4d;
    background-color: white;
    border: none;
    height: 6rem;
    width: min(17rem, 50vw);
    box-shadow: -3px 3px 5px 0px #4d4d4d47, 0px 0px 20px 0px #4d4d4d0d;
    box-sizing: border-box;
    z-index: 2;
}

@media (max-width: 25rem) {
    .todo-lists-carousel :global(.todo-list-card) {
        font-size: 1.8rem;
        height: 9rem;
    }
}

.todo-lists-carousel :global(.todo-list-card.previous-list),
.todo-lists-carousel :global(.todo-list-card.next-list) {
    cursor: pointer;
    z-index: 1;
    transform: scale(0.7);
    opacity: 0.7;
    font-weight: inherit;
}

.todo-lists-carousel :global(.todo-list-card.previous-list) {
    margin-right: -5rem;
}

.todo-lists-carousel :global(.todo-list-card.next-list) {
    margin-left: -5rem;
    box-shadow: -3px 3px 5px 0px #4d4d4d47, 0px 0px 20px 0px #4d4d4d0d, inset 8rem 0 2rem -5rem #4d4d4d35;
}

.todo-lists-carousel :global(.todo-list-card.hidden) {
    visibility: hidden;
}

.todo-lists-carousel :global(.nav-btn) {
    color: #4d4d4d;
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    align-self: center;
    font-family: inherit;
    font-weight: 300;
    padding: 0.1rem;
}

.todo-lists-carousel :global(.nav-btn:hover) {
    opacity: 0.7;
}

.todo-lists-carousel :global(.nav-btn) {
    font-size: 2rem;
}

.todo-lists-carousel :global(.nav-btn:disabled) {
    opacity: 0.5;
    cursor: default;
}

.todo-lists-carousel :global(.nav-btn.hidden) {
    opacity: 0;
    visibility: hidden;
}

.todo-lists-carousel :global(.nav-btn.right.hidden) {
    display: none;
}

.todo-lists-carousel :global(.todo-list-card.add-btn) {
    background: #c7c7c780;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.45rem;
    font-style: italic;
    border: 1px dashed #808080;
    height: calc(6rem - 2px);
    width: calc(17rem - 2px);
}

.todo-lists-carousel :global(.add-list-btn) {
    font-family: inherit;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

@media (max-width: 52rem) {
    .todo-lists-carousel :global(.todo-list-card.previous-list),
    .todo-lists-carousel :global(.todo-list-card.next-list) {
        display: none;
    }

    .todo-lists-carousel :global(.selected-list-wrapper) {
        margin: 0 1rem 0.15rem;
    }

    .todo-lists-carousel :global(.add-btn) {
        transform: translateY(-.5rem);
    }
}

.todo-lists-carousel :global(.previous-previous-list),
.todo-lists-carousel :global(.next-next-list) {
    position: absolute;
    z-index: -1;
    transform: scale(0.2);
    opacity: 0;
}

.todo-lists-carousel :global(.previous-previous-list) {
    left: -4rem;
}

.todo-lists-carousel :global(.next-next-list) {
    right: -4rem;
}
