body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root {
    flex: 1;
    display: flex;
}

.placeholder {
    display: grid;
    place-content: center;
    color: gray;
    border: 3px dashed currentColor;
    font-size: 1.5rem;
    flex: 1;
    margin: 1rem;
    background-color: #f1f1f1;
    text-align: center;
}