.todo-mvc .new-todo {
  padding: 1rem 1rem 1rem 3.5rem;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.todo-mvc .new-todo:focus {
  outline: 1px solid #00000075;
}
