.todo-lists-page {
    padding: 1rem;
}

.todo-lists-page piercing-fragment-outlet {
    display: block;
    margin-bottom: 3rem;
}

.todos {
    animation: todos-enter-animation 0.25s cubic-bezier(.55,.51,.47,.99) forwards;
}

.todos-next {
    --animation-translate: 4rem;
}

.todos-previous {
    --animation-translate: -4rem;
}

@keyframes todos-enter-animation {
    from {
        opacity: 0;
        transform: translateX(var(--animation-translate));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
