piercing-fragment-host[fragment-id="news"] {
  font-size: 0.935rem;
  color: #34495e;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: auto;
  font-weight: 400;
}

a {
  color: #203141;
  text-decoration: none;
}

.news-list-nav {
  padding: 1rem 2rem;
  text-align: center;
}

.news-list-nav .page-link {
  margin: 0 1em;
  border: none;
  background: none;
  cursor: pointer;
  color: #34495e;
  font-size: inherit;
  padding: 0;
}

.news-list-nav .disabled {
  color: #aaa;
}

.news-list {
  width: 100%;
}

.news-list.pending * {
  color: grey;
}

.news-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.news-list-nav,
.news-item {
  border-bottom: 1px solid #eee;
}

.news-item {
  background-color: #fff;
  padding: 1.25rem 1.8rem 1.25rem 5rem;
  position: relative;
  line-height: 1.25rem;
}

.news-item:last-child {
  margin-bottom: 1.8rem;
  border-bottom: none;
}

.news-item .score {
  color: #335d92;
  font-size: 1.1em;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 0;
  width: 5rem;
  text-align: center;
  margin-top: -10px;
}

.news-item .host,
.news-item .meta {
  font-size: 0.85em;
  color: #626262;
}

.news-item .host a,
.news-item .meta a {
  color: #626262;
  text-decoration: underline;
}

.news-item .host a:hover,
.news-item .meta a:hover {
  color: #335d92;
}

.news-view {
  padding: 0.1rem 1rem;
}
