body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

*:focus-visible {
    outline: solid 2px #471effaf;
    outline-offset: 0.35rem;
}

input:focus-visible {
    outline-offset: -0.1rem;
}

@supports (min-height: 100dvh) {
    body {
        min-height: 100dvh;
    }
}

.app-header,
.app-footer {
    background-color: #f8f8f8;
    --header-footer-border: 1px solid #dbdbdb;
}

.app-header {
    display: flex;
    justify-content: flex-end;
    border-bottom: var(--header-footer-border);
}

.app-header img {
    margin: 0.2rem;
    --logo-size: 3rem;
    width: var(--logo-size);
    height: var(--logo-size);
}

.app-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    border-top: var(--header-footer-border);
    gap: 0.7rem;
    padding: 0.5rem;
    font-size: 0.8rem;
}

@media (max-width: 25rem) {
    .app-footer {
        flex-direction: column;
        text-align: center;
    }
}

.app-footer a {
    color: #2e2ebf;
    display: inline-flex;
    align-items: center;
}

.app-footer a:hover {
    color: #2e51bf;
}

.app-footer a svg {
    fill: currentColor;
    --size: 0.8rem;
    height: var(--size);
    width: var(--size);
}

.app-footer .copyright {
    text-align: center;
}

.todos-app {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans MT',sans-serif;
}

.todos-app > * {
    padding: 0;
}

.todos-app h1 {
    font-weight: 100;
}

.todos-app ul {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 50vw;
    align-items: stretch;
}

@media (max-width: 90rem) {
    .todos-app ul {
        width: 70vw;
    }
}
@media (max-width: 60rem) {
    .todos-app ul {
        width: 80vw;
    }
}
@media (max-width: 50rem) {
    .todos-app ul {
        width: 90vw;
    }
}

.todos-app ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    flex-wrap: wrap;
    text-align: center;
}

.todos-app ul li {
    padding: 1rem;
}

.todos-app ul li:not(:last-child) {
    border-bottom: 1px solid #4a4a4a3d;
}

.todos-app ul li > * {
    margin: 0.5rem auto;
}

.todos-app ul li > span {
    flex: 1;
    margin-inline: 1rem;
    max-width: 100%;
    overflow: auto;
    font-weight: 300;
}

@media (max-width: 20rem) {
    .todos-app ul li {
        flex-direction: column;
        gap: 0.5rem;
        padding-inline: 0;
    }

    .todos-app ul li > span {
        margin-inline: 0;
    }
}

.todos-app .new-todo-input-form-control {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.todos-app .new-todo-input-form-control > * {
    flex-shrink: 1;
}

.todos-app .new-todo-input-form-control input {
    max-width: 70vw;
}

.todos-app .new-todo-input-form-control input,
.todos-app .new-todo-input-form-control button {
    font-size: 1rem;
}

.todos-app .new-todo-input-form-control input.invalid {
    color: red;
    box-shadow: red 0 0 5px 1px;
}

.todos-app .line-through {
  text-decoration: line-through;
}

.todos-app .backend-error {
    padding: 1rem;
    color: red;
    background-color: #ff000024;
    border: 1px solid currentColor;
    border-radius: 5px;
    width: fit-content;
    margin-inline: auto;
}

.custom-checkbox {
    --checkbox-size: 1.7rem;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    background-color: #fff;
    border: 1px solid #00000073;
    border-radius: 5px;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.custom-checkbox.checked {
    background-color: #6362ff8a;
}

.custom-checkbox.checked::before {
    --check-width: calc(var(--checkbox-size)/5);
    content: '';
    display: block;
    transform: scale(0.5) translateY(-15%) rotate(45deg);
    border: solid #fff;
    border-width: 0 var(--check-width) var(--check-width) 0;
    height: 100%;
    width: 70%;
}

.delete-btn {
    cursor: pointer;
    background-color: white;
    color: red;
    border: 1px solid currentColor;
    border-radius: 100vw;
    --size: 1.5rem;
    height: var(--size);
    width: var(--size);
    display: grid;
    place-items: center;
    padding: 0;
}

.delete-btn:active {
    transform: translateY(1px);
}

.delete-btn::before {
    content: '\2715';
    line-height: 0;
    font-size: 0.7rem;
}