.page-not-found-page {
    display: grid;
    justify-items: center;
    color: gray;
    flex: 1;
    margin: 1rem;
    text-align: center;
    grid-template-rows: min-content;
}

.page-not-found-page figure {
    margin: 0;
    margin-block: 5rem 2rem;
    opacity: 0.5;
}

.page-not-found-page figure > svg {
    height: 8rem;
    transform-origin: 1rem 7rem;
    animation: falling-animation 10s ease-in-out 1s infinite;
    fill: #bf0000;
}

  @keyframes falling-animation {
    0% {
      transform: rotate3d(0, 0, 0, 0);
      animation-timing-function: cubic-bezier(.76,.13,.04,1.01);
    }
  
    2.5%,
    15% {
      transform: rotate3d(0, 0, 1, 80deg);
      animation-timing-function: ease-in-out;
    }
  
    5%,
    17.5% {
      transform: rotate3d(0, 0, 1, 60deg);
      animation-timing-function: ease-in-out;
    }

    45% {
        transform: rotate3d(0, 0, 0, 0);
    }
  }

.page-not-found-page .text-wrapper {
    margin-block: 2rem 5rem;
}

.page-not-found-page p {
    max-width: 70ch;
    align-self: center;
}
